/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
:root {
  --primary-clr: #BBA0CA;
  --secondary-clr: #08415C;
  --font: 'Dosis', sans-serif;
  --border: 5px;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 1px;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  font-size: 62.5%;
}
html,
body {
  height: 100%;
}
.container {
  border: 1px solid;
  width: 100%;
  height: calc(100vh);
  font-family: var(--font);
}
.container .email_container {
  border: 1px solid;
  width: 40%;
  width: calc(100vw - 40%);
  margin: auto;
  background-color: #E3E3E3;
  min-width: 320px;
  padding: 15px;
}
.container .email_header {
  background-color: #fff;
  margin: 30px;
  font-size: 2.5em;
  text-align: center;
  border-radius: var(--border);
}
.container .email_header p:nth-child(1) {
  border-bottom: 2px solid;
  width: calc(100% - 50px);
  margin: auto;
}
.container img {
  width: 100%;
  height: auto;
  position: relative;
}
.container img:nth-child(1) {
  padding: 10px;
}
@media (max-width: 320px) {
  .container {
    font-size: calc(2.5em - 1);
  }
}
